
* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: wheat;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

h2, h3, h4 {
  text-align: center;
  margin: 10px 0;
}

h1 {
  text-align: center;
  margin: 0;
}

.inc-exp-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.money.plus {
  color: green;
}

.money.minus {
  color: red;
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.list li {
  background-color: #f7f7f7;
  padding: 10px;
  border-right: 5px solid;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.list li.plus {
  border-color: green;
}

.list li.minus {
  border-color: red;
}

.form-control {
  margin-bottom: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.btn {
  background-color: #5c67f2;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.btn:hover {
  background-color: #4a54e1;
}
